/* Footer */

.title-footer {
    font-family: 'Montagu Slab', serif;
    font-size: 1.2em;
    margin-bottom: 50px;
}

footer {
    .container-footer {
        display: grid;
        height: 20em;
        gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row: 1fr;


        .container-footer-1 {
            margin-top: 50px;
            display: flex;
            justify-content: center;
        }

        .container-footer-2 {
            margin-top: 50px;
            display: flex;
            justify-content: center;
        }

        .container-footer-3 {
            margin-top: 50px;
            display: flex;
            justify-content: center;
        }
    }

    ul {
        font-family: 'Judson', serif;
        line-height: 35px;
        letter-spacing: 2px;
        font-size: 0.8rem;
        list-style-type: none;
    }

    .letras-footer {
        &:hover {
            color: white;
        }
    }

    .divider {
        height: 2px;
        width: 500px;
        background-color: #7c7c7c;
        margin: 30px auto;
    }

    .dr-footer {
        margin-bottom: 50px;
    }


    background-color: rgb(241, 241, 241);
}