/* Header */
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;

    .chunis-header {
        font-family: 'Londrina Solid', cursive;
        letter-spacing: 2px;
        font-size: 2rem;
        font-weight: 700;
        color: black;
    }

    .petshop-header {
        font-family: 'Londrina Solid', cursive;
        letter-spacing: 2px;
        font-size: 0.8rem;
        font-weight: 700;
        color: black;
    }

    .margin-header {
        margin-left: 5rem;
        margin-right: 5rem;
    }
}